@model WebApplication6.Models.ITEMCODE_MAS_NS

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ITEMCODE_MAS_NS</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MAS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MAS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NETSUITE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NETSUITE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateCreated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateUpdated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateUpdated)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
